.form {
  margin: 10px;
}
.wind {
  border: 1px solid black;
  border-radius: 5px;
  width: 220px;
  margin-left: 10px;
}
.wind button {
  margin-left: 50px;
}
.name {
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
}
.field {
  width: 190px;
  height: 15px;
}
