.btnsubmit {
    border-radius: 10px;
    height: 30px;
    width: 170px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
}
.btnload {
    display: flex;
    justify-content: center;
    
}