.header {
  display: flex;
  justify-content: center;
  background-color: #449c5c;
  height: 40px;
}
.search {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btnsearch {
  border: none;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.textsearch {
  border: none;
  width: 250px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.textsearch:focus {
  outline: none;
}
