.table {
    display: inline-table;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid black;
}
.table th {
    background-color: black;
    color: white; 
}
.table td {
    border: 1px solid black;
}
.table tr:nth-child(even) {
    background-color: lightgray;
}